
---
---

@import "{{ site.theme }}";
@import url("https://fonts.googleapis.com/css?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

body {
  font-family: "Amatic SC", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  color: #f5d0a9;
}